<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="styles/style.css?rnd=123">
    <link rel="icon" href="images/wordlogo.ico">
    <title>Guess the Word</title>
</head>

<body>
    <%= erb :"common/nav" %>
        <main>
            <div id="wordCanvas">
                <script>
                var wordList = <%= @list %>
                var score = 0
                var word = "<%= @word %>"
                var definition = "<%= @definition %>"
                var score = <%= $score %>
                </script>
                <script type="text/javascript" src="scripts/script.js"></script>
            </div>
            <div id="hintDiv" hidden>
                <strong><p id="guessHint"></p></strong>
                <p id="definitionText"></p>
                <form action="/" method="post">
                    <button name="endGameButton" id="tryAgain"><%=$score%></button>
                </form>
            </div>
            <div id="guessDiv">
                <script type="text/javascript" src="scripts/keyboard.js"></script>
            </div>
            <br><br><br><br><br>
        </main>
    <%= erb :"common/footer" %>
</body>



</html>

